@font-face {
  font-family: "Silence";
  src: url(SuisseIntl-Book.otf) format("opentype");
}

:root {
  --margin: 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-size: 60px;
  font-family: "Silence";
  font-size: 45px;
  line-height: 50px;
  position: relative;
}

.blur {
  transition: 0.4s;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);
  margin: var(--margin);
}

.flex {
  display: flex;
  flex-direction: column;
}

img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.absolute {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 15px;
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 0px 0px 35px #fff;
}

.top {
  top: 10px;
}

.bottom {
  align-items: flex-end;
  bottom: 0px;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
}

.bottom-right {
  justify-content: end;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.selected-size {
  color: #767676;
}

.sticky {
  position: sticky;
  top: 0;
}

.one-third {
  margin: 15px auto 20px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2%;
  width: 33.333%;
}

.one-third-absolute {
  top: 100%;
  right: 0;
  text-align: left;
  position: relative;
}

@media (max-width: 1024px) {
  body {
    font-size: 17px;
    line-height: 23px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .sticky {
    position: relative;
  }
  .one-third-absolute {
    position: absolute;
    text-align: right;
  }
  .bottom {
    position: sticky;
  }
  .one-third {
    width: auto;
    margin: 5px 15px 5px;
    font-size: 10px;
    line-height: 13px;
  }
  .one-third-absolute {
    margin-top: 15px;
  }
  .bottom-right {
    height: 0;
    padding-top: 0;
  }
}
