@font-face {
  font-family: "Silence";
  src: url(SuisseIntl-Book.otf) format("opentype");
}

:root {
  --margin: 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-size: 60px;
  font-family: "Silence";
  font-size: 45px;
  line-height: 50px;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.blur {
  transition: 0.4s;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin);
  margin: var(--margin);
}

.flex {
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  height: 100lvh;
  width: 100%;
  object-fit: cover;
}

img:first-child {
  height: 100svh;
}

.absolute {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 15px;
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 0px 0px 35px #fff;
}

.top {
  top: 15px;
}

.bottom {
  align-items: flex-end;
  bottom: 0px;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
}

.bottom-right {
  justify-content: end;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.selected-size {
  color: #767676;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100svh;
}

.one-third {
  margin: 15px auto 20px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2%;
  width: 33.333%;
}

.one-third-absolute {
  top: 100%;
  right: 0;
  text-align: left;
  position: relative;
}

@media (max-width: 1024px) {
  body {
    font-size: 20px;
    line-height: 25px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .sticky {
    position: relative;
  }
  .one-third-absolute {
    position: absolute;
    text-align: right;
  }
  .bottom {
    position: sticky;
  }
  .one-third {
    width: auto;
    margin: 0px 15px 5px;
    font-size: 10px;
    line-height: 13px;
  }
  .one-third-absolute {
    margin-top: 15px;
  }
  .bottom-right {
    height: 0;
    padding-top: 0;
  }
}

/* Index 1 */

.index_1 {
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
}

.padding-new {
  padding: 30px 40px;
  box-sizing: border-box;
  text-align: center;
}

.absolute-bottom-new {
  position: sticky;
  bottom: 0;
}

.product-about {
  font-size: 16px;
  line-height: 1.3;
  text-transform: none;
  text-align: center;
  margin: 40px 0;
}

.price {
  position: absolute;
  top: 100%;
}

.model-button {
  position: absolute;
  bottom: 0;
}

/* Index 2 */

.index_2 {
  font-size: 12px;
  line-height: 16px;
  color: #8f8681;
}

.white-blur {
  position: relative;
}

.white-blur::before {
  content: "";
  position: absolute;
  top: -24px;
  right: -18px;
  bottom: -24px;
  left: -18px;
  background-color: white;
  filter: blur(10px);
  z-index: -1;
  border-radius: 80px;
}

.index_2 .padding-new {
  padding: 48px;
}

.zero-height {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-info-list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 18px;
  padding: 30px 20px;
}

.product-info-list > div:nth-child(odd) {
  opacity: 0.5;
}
